// Place all the styles related to the calyn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
   background-image:url('calyn.jpg');
   text-align: center;
   color: #FF33CC;
}
#calina{
	width: 30%;
	margin-left: 40%;
	margin-top: 20%;
	text-align: left;

}
#copyright{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}

#nowe{
	width:15%;
	position: absolute;
        margin-left: 70%;
	top: 20%;
	color: black;

background-color:   #fFF;

}
