- if logged_in?
  .create
    .container
      = form_for(@message) do |f|
        .field
          = f.label :Post
          %br/
          = f.text_area :content
        .actions
          = f.submit "Aktualizuj"
- else
  Tylko zalogowani użytkownicy mogą edytować posty
