<div class="header">
  <div class="container">
	<a href="/">
        <%= image_tag "logo.png" %>
	</a>
  </div>
</div>

<div class="messages">
  <div class="container">
      <div class = "message">
      <p class = "content"><%=@message.content %></p>
      <p class = "time"><%=@message.created_at %></p>
      <%= link_to 'Powrot', '/'%>
    </div>
  </div>
</div>

